version = 0.1

[default.build.parameters]
debug = false
use_container = false

[default.deploy.parameters]
debug = false
stack_name = "bedrock-gr-apply"
resolve_s3 = true
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_NAMED_IAM"
disable_rollback = false
parameter_overrides = [
  "ModelRegion=us-east-1",
  "ModelId=anthropic.claude-3-sonnet-20240229-v1:0",
  "OutputControl=True",
  "GuardrailVersion=1"
]
